.container {
  padding-top: 50px;
}

.list-group {
  display:inherit;
  margin-top: 80px;
}

#search-input {
  float: right;
  position: relative;
  font-style: italic;
}

thead {
  float: right;
  display: inline-block;
}

thead > tr > th {
  cursor: pointer;
}

#label {
  font-size: x-large;
}


